.header {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-hf-color);
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 3px solid var(--border-hf-color);
  z-index: 1;

  &-content {
    @extend %container;
    display: flex;
    justify-content: space-between;

    @include sm {
      flex-wrap: wrap;
      overflow: hidden;
    }
  }

  &-logo {
    display: flex;
    margin-right: $gap/2;

    @include sm {
      flex: 1;
      justify-content: flex-start;
    }

    &__link {
      color: var(--text-color);
      transition: all 0.5s;
      font-size: 1.5rem;
      font-weight: 400;

      &:hover {
        color: var(--color-accent);
        text-shadow: 3px 1px 3px $color-dark;
      }
    }
  }

  &-navbar {
    display: flex;
    align-items: center;

    @include sm {
      justify-content: flex-end;
      flex: 1;
    }

    &-radio {
      @include lg-min {
        margin-left: $gap/2;
      }

      @include lg {
        display: none;
      }
    }

    &__label {
      color: var(--text-color);
    }

    &-btn {
      @include lg-min {
        display: none;
      }

      @include sm {
        display: none;
      }
    }

    &-dropdown {
      @include sm-min {
        display: none;
      }
    }
  }
}
